<a href="https://colab.research.google.com/github/Ksssenia8/4kurs/blob/main/lab6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Создайте функцию series_data(name,index), в которой сгенерируйте объект s типа Series, содержащий все целые положительные четные числа меньшие 5000 и кратные 11. Озаглавьте серию как name. Индексы s должны быть вида n1, n2, n3 и т. д., где «n» – это сокращение от  number, а число — порядковый номер числа. Преобразуйте числа, начиная с числа с индексом index (2 < index < 100) и до конца списка следующим образом:

если индекс нечетный, то число умножается на 3.

если индекс четный, то число уменьшается на 31.

Функция series_data(name,index) с помощью return должна возвращать наибольшее из чисел с индексами index, index+1, index-1.

In [3]:
import pandas as pd

def series_data(name, index):
    # Проверка условия для индекса
    if not (2 < index < 100):
        raise ValueError("Индекс должен быть в диапазоне от 3 до 99 (2 < index < 100).")

    # Генерация всех положительных четных чисел меньше 5000 и кратных 11
    numbers = [i for i in range(0, 5000) if i % 2 == 0 and i % 11 == 0]

    # Создание объекта Series с индексами n1, n2, n3, ...
    s = pd.Series(numbers, index=[f'n{i+1}' for i in range(len(numbers))])
    s.name = name

    # Преобразование чисел в зависимости от индекса
    for i in range(index, len(s)):
        if i % 2 == 0:  # Индекс четный
            s.iloc[i] -= 31
        else:  # Индекс нечетный
            s.iloc[i] *= 3

    # Получаем значения по индексам index, index+1 и index-1
    # Учитываем, что индексы могут выходить за границы серии
    values = []
    for i in [index - 1, index, index + 1]:
        if 0 <= i < len(s):
            values.append(s.iloc[i])

    return max(values)

# Примеры тестирования функции
try:
    print(series_data('Название серии', 3))   # Ожидается 198
    print(series_data('Название серии', 33))  # Ожидается 2178
    print(series_data('Название серии', 1))   # Ожидается ошибка
except ValueError as e:
    print(e)

198
2178
Индекс должен быть в диапазоне от 3 до 99 (2 < index < 100).

**Задание 2**

Создайте функцию frame_data(list1, list2, indices), где  list1, list2 – двумерные списки одинакового размера n x n (n = 1, 2, 3, …), indices – список из односимвольных значений длиной n. Из списков list1 и list2 создайте объекты класса DataFrame df1 и df2 соответственно. В df1 и df2 задайте индексацию indices. Отсортируйте строки df1 по убыванию индекса. В df2 отсортируйте строки по увеличению их суммы (для этого создайте в df2 столбец с суммами элементов строк и используйте этот столбец в качестве индекса). В каждом из df1 и df2 получить элемент, находящийся в первой по порядку (нулевой) строке и левом столбце, эти два элемента сложить. Функция  frame_data(list1, list2, indices) с помощью return должна возвращать полученную сумму.

In [1]:
import pandas as pd

def frame_data(list1, list2, indices):
    # Создание DataFrame из list1 и list2
    df1 = pd.DataFrame(list1, index=indices)
    df2 = pd.DataFrame(list2, index=indices)

    # Сортировка df1 по убыванию индексов
    df1 = df1.sort_index(ascending=False)

    # Добавление столбца с суммами строк в df2 и сортировка по этому столбцу
    df2['row_sum'] = df2.sum(axis=1)
    df2 = df2.sort_values(by='row_sum').drop(columns='row_sum')

    # Получение элемента из первой строки и первого столбца для df1 и df2
    element_df1 = df1.iloc[0, 0]
    element_df2 = df2.iloc[0, 0]

    # Возврат суммы элементов
    return element_df1 + element_df2

# Примеры тестирования функции
print(frame_data([[4,5],[7,8]], [[20,30],[4,5]], ['C','D']))      # Ожидается 11
print(frame_data([[1,2,3],[4,5,6],[7,8,9]], [[100,20,30],[4,5,60],[7,80,9]], ['C','A', 'B']))  # Ожидается 5

11
5

**Задание 4**

Зашумленные транзакционные данные представлены в списке transaction = [120, -31, ’20.1’, 12.3, ‘bank’, 12, -4, -7, 150, ‘mr.’, 23, 32, 21]. Необходимо:

1.Создать объект pd.Series, значения которого совпадают со значениями transaction, а индексы – целые числа >= 10 и < 23. Сохранить созданный объект в переменную t.

2.Из t получить только целые числа элементы (*) и вычислите их несмещенную выборочную дисперсию (применив к t метод .var(ddof=1)) среднее значение (применив к t метод .mean()).

In [4]:
import pandas as pd

# Зашумленные транзакционные данные
transaction = [120, -31, '20.1', 12.3, 'bank', 12, -4, -7, 150, 'mr.', 23, 32, 21]

# Создание объекта Series с индексами от 10 до 22
t = pd.Series(transaction, index=range(10, 23))

# Извлечение только целочисленных значений
integer_values = t[t.apply(lambda x: isinstance(x, int))]

# Вычисление несмещенной выборочной дисперсии и среднего значения
variance = integer_values.var(ddof=1)
mean = integer_values.mean()

print("Несмещенная выборочная дисперсия:", variance)
print("Среднее значение:", mean)

Несмещенная выборочная дисперсия: 3621.111111111111
Среднее значение: 35.111111111111114

**Задание 5**

Используя функцию random.normal() из модуля numpy, cгенерируйте 200 значений нормально распределённой случайной величины (*). Результат генерации сохраните как pd.Series в переменную s.

1.Каждое значение s возведите во 2 степень, индексы элементов s увеличьте на 2.

2.Выведите количество значений s, которые больше 2.

3.Выведите сумму элементов, строго меньших 2 и имеют нечётные индексы.

In [1]:
import numpy as np
import pandas as pd

# Шаг 1: Генерируем 200 значений нормально распределённой случайной величины
s = pd.Series(np.random.normal(size=200))

# Шаг 2: Возводим каждое значение s во 2 степень и увеличиваем индексы на 2
s = s**2
s.index = s.index + 2

# Шаг 3: Выводим количество значений s, которые больше 2
count_greater_than_2 = (s > 2).sum()
print("Количество значений s больше 2:", count_greater_than_2)

# Шаг 4: Находим сумму элементов, строго меньших 2 и с нечётными индексами
sum_less_than_2_odd_indices = s[(s < 2) & (s.index % 2 != 0)].sum()
print("Сумма элементов, строго меньших 2 и с нечётными индексами:", sum_less_than_2_odd_indices)

Количество значений s больше 2: 25
Сумма элементов, строго меньших 2 и с нечётными индексами: 41.645029618688

Задание **6**

Скачать набор данных (таблицу) CreditCardTransaction.csv с https://www.kaggle.com/datasets/ybifoundation/credit-card-transaction. Прочитать и сохранить эту таблицу в pd.DataFrame с именем df.

1.Задав np.random.seed(12) и используя методsample(), из df получите выборку, содержащую 10000 строк. Выборку сохраните в переменную dfs.

2.Получите количество раз*, которое встретился каждый департамент (значение столбца Department) в dfs. Выведите3 департамента, которые наиболее часто** встречаются в dfs.

3.В dfs получить размер сумм транзакций (поле TrnxAmount) соответствующие январю или февралю 2022 года (поля Year и Month) и: